body {
  background-color:green;
  transition:background-color 2s;
  margin:0;
  
}
#height{
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	position:fixed;
	height:100%;
	width:100%;
	text-align:center;
}
#quote-box {
  width:35%;
  min-height:200px;
  background-color:white;
  padding:35px;
  border-radius:5px;
}
#text,.fas {
	
	font-size:35px;
}
#author {
	text-align:right;
}
#buttons {
	display:flex;
	justify-content:space-between;
}
.slink {
	font-size:35px;
	border-radius:5px;
}
#new-quote {
	height:33px;
	border:none;
	border-radius:5px;
	color:white;
}
